.linkTable {
    text-decoration: none;
    color:rgba(0, 0, 0)
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
  }
  .content {
    position: relative;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
  } 
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  } 

  .link_context {
    margin: 5px;
    text-align: right;
  }
  .link_context :hover {
    color: rgb(42, 170, 174);
  }

